/* Fonts */
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf');
  font-style: light;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}
  
/* Document-wide Variables */
:root {
  --border-radius: 4px;
}

/* Tag Specific */
body {
  width: 80%;
  min-width: 330px;
  max-width: 2560px;
  margin: 0px auto;

  background-color: #3B97D3;

  font-family: "Roboto-Light", "Arial", sans-serif;
}

button:active {
  padding: 0px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

a:link {
  color: #3B97D3;
}

a:visited {
  color: #3B97D3;
}

/* Web Layout */
.web-container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
  align-items: stretch;
  justify-items: stretch;
}

@media screen and (max-width: 1080px) {
.web-container {
    grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}
}