/* Header Fill*/
#events {
  grid-column: 1;
  grid-row: 1;

  height: 70%;

  background-color: white;
}

#events .nav-button {
  color: #17608A;
}

/* Main Content */
.main-container {
  grid-area: main;

  height: auto;

  background-color: white;
  border-radius: var(--border-radius);
  border-top-right-radius: 0px;

  text-align: center;

  overflow: hidden;
}

@media screen and (max-width: 1080px) {
  .main-container {
    border-top-left-radius: 0px;
  }
}

.event-category {
  text-transform: uppercase;
  color: #17608A;
}

.separator {
  width: 75%;
  max-width: 400px;
  height: auto;
  margin-top: 10px;
}

/* GDS Events */
.event-large {
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "name name"
    "rule rule"
    "image description";
  align-items: center;

  width: 90%;
  height: auto;
  max-height: 100px;
  margin: 15px auto;

  color: black;
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);

  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;
}

#gamedevsocial {
  background-image: url('../images/events/event-gamedevsocial.png');
}

#chilljam {
  background-image: url('../images/events/event-chilljam.png');
}

#jamsandwich {
  background-image: url('../images/events/event-jamsandwich.png');
}

.event-fade-large {
  grid-column: 1 / 3;
  grid-row: 1 / 5;

  width: 100%;
  height: 100%;
  min-height: 100px;

  background-color: white;
  opacity: 0.6;
}

.event-name-large {
  grid-area: name;
  grid-row: 1 / 3;

  position: relative;

  z-index: 1;
}

.event-rule-large {
  grid-area: rule;
  justify-self: center;

  width: 70%;
  height: 1px;

  position: relative;
  background-color: black;

  z-index: 1;
}

.event-description-large {
  grid-area: description;

  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;

  position: relative;
  font-family: "Roboto-Regular", "Arial", sans-serif;
  text-align: start;

  z-index: 1;
}

.event-image-large {
  grid-area: image;
  justify-self: end;

  width: 50%;
  max-width: 200px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;

  position: relative;
  
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .event-large {
    grid-template-areas:
      "name name"
      "rule rule"
      "image image" 
      "description description";
    justify-items: center;
  }

  .event-description-large {
    width: 80%;

    text-align: center;
  }

  .event-image-large {
    margin-right: 0px;
    margin-bottom: 0px;
    justify-self: center;
  }
}

/* External Events */
.external-events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 90%;
  height: auto;
  margin: 15px auto;
}

.external-events-container a:link {
  text-decoration: none;
}

.event-small {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto;
  grid-template-areas:
    "name name"
    "description description";
  align-items: center;
  justify-items: center;

  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 10px;

  color: white;
  background-color: #17608A;
  border-radius: var(--border-radius);
  opacity: 1;

  transition: 0.2s;
}

.event-small:hover {
  opacity: 0.85;
}

.event-name-small {
  grid-area: name
}

.event-description-small {
  grid-area: description;

  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: "Roboto-Regular", "Arial", sans-serif;
  text-align: center;
}

.related-societies-container {
  display: flex;
  justify-content: center;

  margin: 15px auto;
}

.related-societies-container a {
  padding: 10px;
}

@media screen and (max-width: 650px) {
  .related-societies-container {
    flex-direction: column;
  }
}