/* Footer */
.footer {
  grid-area: footer;

  width: 100%;

  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  text-align: center;
}

.footer a:link {
  color: white;
}

.footer a:visited {
  color: white;
}