/* Header Logo */
.header {
  grid-area: header;

  position: relative;
}

.header img {
  width: 100%;
  height: auto;
  max-width: 763px;
  min-width: 450px;
  max-height: 96px;

  position: absolute;
  bottom: 10px;
}

@media screen and (max-width: 1080px) {
  .header {
    justify-self: center;

    width: 80%;
    min-height: 86px;
  }

  .header img {
    min-width: 0px;
    bottom: 0px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    width: 100%;
  }
}

/* Navigation Content */
.nav-container {
  grid-area: nav;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-self: end;
  align-items: end;
  
  height: 100%;
  min-height: 96px;
  margin-left: 20%;
}

.nav-button {
  width: 100%;
  height: 100%;

  background-color: transparent;
  border: none;  

  color: white;
  font-family: 'Roboto-Light';
  font-size: 1.1em;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
}

.nav-link {
  width: 100%;
  height: 70%;

  z-index: 1;
}

.nav-link:hover + .nav-button-shade {
  height: 70%;
}

@media screen and (max-width: 1080px) {
  .nav-container {
    height: 50px;
    margin-left: 0%;
  }
}

@media screen and (max-width: 500px) {
  .nav-button {
    font-size: 0.9em;
  }
}

.nav-button-shade {
  width: 100%;
  height: 0%;

  background-color: #163C52;

  transition: 0.2s;
}

#events {
  grid-column: 1;
  grid-row: 1;
}

#resources {
  grid-column: 2;
  grid-row: 1;
}

#videos {
  grid-column: 3;
  grid-row: 1;
}

#marketing {
  grid-column: 4;
  grid-row: 1;
}