/* Web Layout Override */
.web-container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header nav"
    "main main"
    "links links"
    "sponsors sponsors"
    "footer footer";
  align-items: stretch;
  justify-items: stretch;
}

@media screen and (max-width: 1080px) {
  .web-container {
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "links links"
      "sponsors sponsors"
      "footer footer";
  }
}

/* Main Content */
.main-container {
  grid-area: main;

  display: grid;

  background-color: white;
  border-radius: var(--border-radius);
  border-top-right-radius: 0px;

  overflow: hidden;
}

@media screen and (min-width: 1520px) {
  .main-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "description photos photos"
      "events photos photos";
  }
}

@media screen and (max-width: 1520px) {
  .main-container {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "description events"
      "photos photos";
  }
}

@media screen and (max-width: 1080px) {
  .main-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "description"
      "events"
      "photos";

    border-top-left-radius: 0px;
  }
}

/* GameDevSoc Description */
.description {
  grid-area: description;

  margin-top: 30px;

  text-align: center;
}

.separator {
  width: 75%;
  height: auto;
}

#eugds {
  color: #17608A;
  font-family: 'Roboto-Light';
}

#eugds-desc {
  margin:30px;
}

/* GameDevSoc Events */
.events {
  grid-area: events;

  margin: 40px;
}

.events-button {
  width: 100%;
  padding: 0px;

  background-color: #163C52;
  border: none;
  border-radius: var(--border-radius);
  opacity: 1;
  
  cursor: pointer;
  transition: 0.2s;
}

.events-button:hover {
  opacity: 0.85;
}

#next-event {
  color: white;
  font-family:'Roboto-Light';
}

#event-name {
  color: white;
  font-family:'Roboto-Light';
}

#event-details {
  margin-bottom: 10px;

  border-spacing: 10px 5px;

  color: white;
  font-family: 'Roboto-Light';
  text-align: left;
  
}

/* Photo / Carousel */
.photos {
  grid-area: photos;

  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .photos {
    display: none;
  }
}

.carousel-button {
  width: 50px;
  height: 50px;

  background-color: #000000;
  border:none;
  border-radius: 25px;

  opacity: 0.4;
  transition: 0.3s;
}

.carousel-button:active {
  opacity: 0.8;
}

.carousel-image {
  grid-column: 1 / 4;
  grid-row: 1;

  width: 100%;
  height: 100%;
  min-height: 600px;

  background-size: cover;
  background-position: center;
  opacity: 1;
  
  overflow: hidden;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  .carousel-image {
    min-height: 500px;
  }
}

@media screen and (max-width: 900px) {
  .carousel-image {
    min-height: 400px;
  }
}

@media screen and (max-width: 700px) {
  .carousel-image {
    min-height: 300px;
  }
}

#carouse-image-hidden {
  opacity: 0;
}

.carousel-caption {
  grid-column: 2;
  grid-row: 1;
  align-self: end;

  margin-bottom: 5%;
  
  color: white;
  font-size: 30px;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  opacity: 0.6;
  cursor: default;
}

#prev {
  grid-column: 1;
  grid-row: 1;
  
  padding: 5px;

  cursor: pointer;
}

#prev:active {
  grid-column: 1;
  grid-row: 1;

  padding: 5px;
}

#next {
  grid-column: 3;
  grid-row: 1;
  
  padding: 5px;

  cursor: pointer;
}

#next:active {
  grid-column: 3;
  grid-row: 1;

  padding: 5px;
}

/* GameDevSoc Links */
.links-container {
  grid-area: links;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: auto;

  margin-top: 15px;
}

@media screen and (max-width: 1520px) {
  .links-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media screen and (max-width: 800px) {
  .links-container {
    grid-template-columns: 1fr;
  }
}

.link-button {
  width: 100%;
  height: 70px;

  border: none;
  border-radius: 0px;

  font-family: 'Roboto-Light';
  font-size: 1.1em;
  text-align: center;

  overflow: hidden;
  cursor: pointer;
}

.link-button span{
  display: block;
  position: relative;

  transition: 0.4s;
}

.link-button span:after {
  position: absolute;
  top: 25%;
  right: -220px;
  
  color: white;
  white-space: nowrap;
  opacity: 0;

  transition: 0.4s;
}

.link-button:hover span {
  padding-right: 220px;
}

.link-button:hover span:after {
  right: 0;

  opacity: 1;
}

#facebook {
  background-color: #77AAFF;
}

#facebook span:after {
  left: 45px;

  content: 'Join our facebook group!';
}

#newsletter {
  background-color: #4ac54a;
}

#newsletter span:after {
  left: 70px;

  content: 'Subscribe to our newsletter!';
}

#discord {
  background-color: #F28148;
}

#discord span:after {
  left: 60px;

  content: 'Join the GameDev discord!';
}

#support {
  background-color: #F248F2;
}

#support span:after {
  left: 30px;
  
  content: 'Support GameDevSoc!';
}

/* Sponsors */
.sponsors-container {
  grid-area: sponsors;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;

  width: 100%;
  height: auto;
  min-height: 100px;
  margin-top: 15px;
  margin-bottom: 15px;

  background-color: white;
  border-radius: var(--border-radius);
}

.title {
  grid-column: 1 / 4;
  grid-row: 1;

  width: 100%;
  height: auto;

  text-align: center;

  color: #17608A;
}
