/* Header Fill*/
#marketing {
  grid-column: 4;
  grid-row: 1;

  height: 70%;

  background-color: white;
}

#marketing .nav-button {
  color: #17608A;
}

/* Main Content */
.main-container {
  grid-area: main;

  height: auto;
  min-height: 100px;
  padding-left: 5%;
  padding-right: 5%;

  background-color: white;
  border-radius: var(--border-radius);
  border-top-right-radius: 0px;

  text-align: center;

  overflow: hidden;
}

@media screen and (max-width: 1080px) {
  .main-container {
    border-top-left-radius: 0px;
  }
}

.separator {
  width: 75%;
  max-width: 400px;
  height: auto;
  margin-top: 10px;
}

.marketing-heading {
  text-transform: uppercase;
  color: #17608A;
}

.marketing-description {
  max-width: 700px;
  margin: auto;
  margin-bottom: 25px;
}

.marketing-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 20px;
}

.marketing-logos img {
  width: 200px;
  height: 200px;
  margin: 20px;
  margin-top: 0px;
}

.marketing-largeprints {
  margin-bottom: 20px;
}

.marketing-largeprints img {
  width: 80%;
  height: auto;
  max-width: 720px;
  margin: 20px;
  margin-top: 0px;
}

.marketing-sponsors {
  margin-bottom: 20px;
}

.marketing-sponsors img {
  width: 80%;
  height: auto;
  max-width: 900px;
  margin: 20px;
  margin-top: 0px;
}