/* Header Fill*/
#resources {
  grid-column: 2;
  grid-row: 1;

  height: 70%;

  background-color: white;
}

#resources .nav-button {
  color: #17608A;
}

/* Main Content */
.main-container {
  grid-area: main;

  height: auto;
  min-height: 100px;
  padding-left: 5%;
  padding-right: 5%;

  background-color: white;
  border-radius: var(--border-radius);
  border-top-right-radius: 0px;

  text-align: center;

  overflow: hidden;
}

@media screen and (max-width: 1080px) {
  .main-container {
    border-top-left-radius: 0px;
  }
}

.separator {
  width: 75%;
  max-width: 400px;
  height: auto;
  margin-top: 10px;
}

.resources-heading {
  text-transform: uppercase;
  color: #17608A;
}

.resources-description {
  max-width: 700px;
  margin: auto;
  margin-bottom: 25px;
}

.resources-error {
  color: red;
}

.resources-table {
  margin: auto;
}

.resources-table .left p {
  margin: 4px;

  text-align: left;
}

.resources-table .right p {
  margin: 4px;
  
  text-align: right;
}

.resources-table h2 {
  text-transform: uppercase;
  color: #17608A;
}

.resources-table td {
  padding-left:   10px;
  padding-right:  10px;

  vertical-align: top;
}

