/* Header Fill*/
#videos {
  grid-column: 3;
  grid-row: 1;

  height: 70%;

  background-color: white;
}

#videos .nav-button {
  color: #17608A;
}

/* Main Content */
.main-container {
  grid-area: main;

  height: auto;
  min-height: 100px;
  padding-left: 5%;
  padding-right: 5%;

  background-color: white;
  border-radius: var(--border-radius);
  border-top-right-radius: 0px;

  text-align: center;

  overflow: hidden;
}

@media screen and (max-width: 1080px) {
  .main-container {
    border-top-left-radius: 0px;
  }
}

.separator {
  width: 75%;
  max-width: 400px;
  height: auto;
  margin-top: 10px;
}

.youtube-heading {
  text-transform: uppercase;
  color: #17608A;
}

.youtube-page {
  display: grid;
  grid-template-columns: auto auto;

  max-width: 700px;
  margin: auto;
  margin-bottom: 20px;
}

.youtube-gds-logo {
  width: 128px;
  height: 128px;
  margin-right: 25px;
}

.youtube-description {
  text-align: left;
}

.youtube-video-container {
  margin-bottom: 20px;
}

.youtube-video {
  width: 720px;
  height: 405px;
}

@media screen and (max-width: 1080px) {
  .youtube-video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  
  .youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .youtube-page {
    grid-template-columns: auto;
  }
}