<!DOCTYPE HTML>
<html>
<head>
  {% block head %}
  <meta charset="UTF-8"> 
  <link rel='icon' href='{{ url_for("static", filename="images/icons/favicon.ico") }}'>
  <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/common.css") }}'>
  {% endblock %}
</head>
<body>
  Error {{ code }}. Sorry!
</body>
</html>