{% extends "main.html.j2" %}

{% block head %}
  {{ super() }}
  <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/events.css") }}'>
  <title>GameDevSoc - Events</title>
{% endblock %}

{% block main %}
  <img class='separator' src='{{ url_for("static", filename="images/separators/separator_2.svg") }}' alt='separator'>

  <h1 class='event-category'>Events by GameDevSoc</h1>
  <div class='event-large' id='gamedevsocial' onClick="gds.toggle();">
    <div class='event-fade-large'></div>
    <h1 class='event-name-large'>GameDevSocial</h1>
    <div class='event-rule-large'></div>
    <img class='event-image-large' src='{{ url_for("static", filename="images/events/circle-gamedevsocial.png") }}' alt='GameDevSocial'>
    <p class='event-description-large'>
      Our monthly social, where you can get together and meet fellow game developers!<br/><br/>

      Every social will be varied with many interesting things - from mini-gamejams, board games, tournaments and more, we'll be hosting an evening of fun.<br/><br/>

      With that, and free snacks &amp; drinks, it's definitely worth coming along to. We hope to see you there!
    </p>
  </div>
  <div class='event-large' id='chilljam' onClick="cj.toggle();">
    <div class='event-fade-large'></div>
    <h1 class='event-name-large'>Chill Jam</h1>
    <div class='event-rule-large'></div>
    <img class='event-image-large' src='{{ url_for("static", filename="images/events/circle-chilljam.png") }}' alt='Chill Jam'>
    <p class='event-description-large'>
      A whole day of game development, oh boy! Chill Jam is where you can collaborate with people and make neat little games.<br/><br/>

      As the name would suggest, it's about chilling out and enjoy working on a small game project!<br/><br/>

      There's prizes to be won, and food to be eaten. Invite all your friends to this game jam!
    </p>
  </div>
  <div class='event-large' id='jamsandwich' onClick="jsw.toggle();">
    <div class='event-fade-large'></div>
    <h1 class='event-name-large'>Jam Sandwich</h1>
    <div class='event-rule-large'></div>
    <img class='event-image-large' src='{{ url_for("static", filename="images/events/circle-jamsandwich.png") }}' alt='Jam Sandwich'>
    <p class='event-description-large'>
      Join us for a weekend of awesome game development - a game jam to make your ideas into reality!<br/><br/>

      Of course like our other game jams, gorgeous prizes could be yours for the taking. And of course this event won't be complete without <b>sandwiches</b>!</b><br/><br/>
      
      This event is a chance to let your creativity out — what game will you create over two days?
    </p>
  </div>

  <img class='separator' src='{{ url_for("static", filename="images/separators/separator_3.svg") }}' alt='separator'>

  <h1 class='event-category'>Events by other people</h1>
  <div class='external-events-container'>
    <a id='edin_indies' href='https://www.facebook.com/edinburghindies' target='_blank'>
      <div class='event-small'>
        <h1 class='event-name-small'>Edinburgh Indies</h1>
        <p class='event-description-small'>
          Monthly meetup, every first Thursday
        </p>
      </div>
    </a>
    <a id='gd_edin' href='https://www.facebook.com/GameDevEd/' target='_blank'>
      <div class='event-small'>
        <h1 class='event-name-small'>Game Dev Edinburgh</h1>
        <p class='event-description-small'>
          Bimonthly meetup, every second Tuesday
        </p>
      </div>
    </a>
    <a id='igda_s' href='https://igdascotland.org/' target='_blank'>
      <div class='event-small'>
        <h1 class='event-name-small'>IGDA Scotland</h1>
        <p class='event-description-small'>
          Talks and events all over Scotland, resources for devs
        </p>
      </div>
    </a>
    <a id='edindies' href='http://edindi.es/' target='_blank'>
      <div class='event-small'>
        <h1 class='event-name-small'>EdIndies</h1>
        <p class='event-description-small'>
          Weekly meetup every Saturday from 1pm in the Levels cafe
        </p>
      </div>
    </a>
    <a id='gafe' href='https://www.eventbrite.co.uk/e/gamesareforeveryone-tickets-31598699561' target='_blank'>
      <div class='event-small'>
        <h1 class='event-name-small'>Games Are For Everyone</h1>
        <p class='event-description-small'>
          Drinks, music & selection of interesting games
        </p>
      </div>
    </a>
  </div>

  <img class='separator' src='{{ url_for("static", filename="images/separators/separator_1.svg") }}' alt='separator'>

  <h1 class='event-category'>Related Societies</h1>
  <div class='related-societies-container'>
    <a href='https://comp-soc.com/' target='_blank'>
      <img src='{{ url_for("static", filename="images/events/compsoc_circle.png") }}' alt='CompSoc - the university&apos;s tech society'>
    </a>
    <a href='https://www.facebook.com/groups/494511550938221' target='_blank'>
      <img src='{{ url_for("static", filename="images/events/gamesoc_circle.png") }}' alt='GameSoc - for playing video games'>
    </a>
  </div>
{% endblock %}

{% block scripts %}
  <script src='{{ url_for("static", filename="js/eventdiv.js") }}'></script>
  <script>
    var gds = new EventDiv('gamedevsocial', '420px', '630px', 900);
    var cj  = new EventDiv('chilljam',      '420px', '630px', 900);
    var jsw = new EventDiv('jamsandwich',   '420px', '630px', 900);
  </script>
{% endblock %}