{% extends "main.html.j2" %}

{% block head %}
  {{ super() }}
  <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/index.css") }}'>
  <title>GameDevSoc - Official Page</title>
{% endblock %}

{% block main %}
  <div class='photos'>
    <div class='carousel-image' id='carousel-image'></div>
    <div class='carousel-image' id='carousel-image-hidden'></div>
    <button class='carousel-button' id='prev' onclick='carousel.prev()'>
      <img src='{{ url_for("static", filename="images/icons/left.png") }}' style='max-width: 100%;max-height:100%;'>
    </button>
    <button class='carousel-button' id='next' onclick='carousel.next()'>
      <img src='{{ url_for("static", filename="images/icons/right.png") }}' style='max-width: 100%;max-height:100%;'>
    </button>
    <p class='carousel-caption' id='carousel-caption'></p>
  </div>
  <div class='description'>
    <img class='separator' src='{{ url_for("static", filename="images/separators/separator_1.svg") }}'>
    <h3 id='eugds' align='center'>EDINBURGH UNIVERSITY'S GAME DEVELOPMENT SOCIETY</h3>
    <p id='eugds-desc'>
      We want to create a welcoming environment for seasoned game developers
      and beginners alike. We host events that are part-talks part-socials,
      during which you can share your ideas in a stimulating environment.
    </br></br>
      All our events are free, open to non-students and do not require
      membership, so do come along if you are curious!
    </p>
  </div>
  {% if next_event is not none %}
  <a class='events' href='{{ next_event["url"] }}' target='_blank'>
    <button class='events-button'>
      <h3 id='next-event'>{{ next_event["state"] }} event:</h3>
      <h1 id='event-name'>{{ next_event["title"] }}</h1>
      <center>
        <table id='event-details'>
          <tr>
            <th><img src='{{ url_for("static", filename="images/icons/calendar.png") }}'></th>
            <th><p style='margin:0px;'>{{ next_event["date"] }}</p></th>
          </tr>
          <tr>
            <th><img src='{{ url_for("static", filename="images/icons/clock-outline.png") }}'></th>
            <th><p style='margin:0px;'>{{ next_event["time"] }}</p></th>
          </tr>
          <tr>
            <th><img src='{{ url_for("static", filename="images/icons/map-marker.png") }}'></th>
            <th><p style='margin:0px;'>{{ next_event["location"] }}</p></th>
          </tr>
        </table>
      </center>
    </button>
  </a>
  {% endif %}
{% endblock %}

{% block extras %}
  <div class='links-container'>
    <a target='_blank' href='https://www.facebook.com/groups/gamedevsocedi'>
      <button class='link-button' id='facebook'>
        <span><img src='{{ url_for("static", filename="images/icons/facebook-box.png") }}'></span>
      </button>
    </a>
    <a target='_blank' href='https://us14.list-manage.com/subscribe?u=fef88d16b9f97a5f9fd333b48&amp;id=28e0e8416e'>
      <button class='link-button' id='newsletter'>
        <span><img src='{{ url_for("static", filename="images/icons/email.png") }}'></span>
      </button>
    </a>
    <a target='_blank' href='https://discord.gg/MB2dySt'>
      <button class='link-button' id='discord'>
        <span><img src='{{ url_for("static", filename="images/icons/discord.png") }}'></span>
      </button>
    </a>
    <a target='_blank' href='https://www.eusa.ed.ac.uk/activities/societies/society/gamedevsoc/'>
      <button class='link-button' id='support'>
        <span><img src='{{ url_for("static", filename="images/icons/heart-circle-outline.png") }}'></span>
      </button>
    </a>
  </div>

  <div class='sponsors-container'>
    <h3 class='title'>This society is sponsored by:</h3>
    <br/>
    <p>Nobody... yet!</p>
  </div>
{% endblock %}

{% block scripts %}
  <script src='{{ url_for("static", filename="js/carousel.js") }}'></script>
  <script>
    var imageList = [
      {% for image in images %}
      '{{ url_for("static", filename="images/carousel/" + image) }}',
      {% endfor %}
    ]
    var carousel = new Carousel(imageList, 'carousel-image', 'carousel-image-hidden', 'carousel-caption');
  </script>
{% endblock %}