<!DOCTYPE HTML>
<html>
<head>
  {% block head %}
  <meta charset="UTF-8"> 
  <link rel='icon' href='{{ url_for("static", filename="images/icons/favicon.ico") }}'>
  <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/common.css") }}'>
  <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/header.css") }}'>
  <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/footer.css") }}'>
  {% endblock %}
</head>
<body>
  <div class='web-container'>
    <a class='header' href='{{ url_for("web.index") }}'><img src='{{ url_for("static", filename="images/gds-header.png") }}'></a>

    <div class='nav-container'>
      <a class='nav-link' id='events'    href='{{ url_for("web.events") }}'>   <button class='nav-button'>Events</button>   </a>
      <div class='nav-button-shade' id='events'></div>
      <a class='nav-link' id='resources' href='{{ url_for("web.resources") }}'><button class='nav-button'>Resources</button></a>
      <div class='nav-button-shade' id='resources'></div>
      <a class='nav-link' id='videos'    href='{{ url_for("web.videos") }}'>   <button class='nav-button'>Videos</button>   </a>
      <div class='nav-button-shade' id='videos'></div>
      <a class='nav-link' id='marketing' href='{{ url_for("web.marketing") }}'><button class='nav-button'>Marketing</button></a>
      <div class='nav-button-shade' id='marketing'></div>
    </div>

    <div class='main-container'>
      {% block main %}
      {% endblock %}
    </div>

    {% block extras %}
    {% endblock %}

    <p class='footer'>
      GameDevSoc follows EUSA's Safe Space Policy. For more information, visit the <a href='https://www.eusa.ed.ac.uk/eusapolicy/internal/safespaceupdate/' target='_blank'>EUSA Website</a>.<br/>
      Want to contact GameDevSoc? <a href='mailto:gamedevsoc@gmail.com'>Email us here</a>.<br/>
      Website design by Tatsuya Haddow. You can find the source on <a href='https://gitlab.com/in2erval/GDS-website' target='_blank'>Gitlab</a>.<br/>
    </p>
  </div>

  {% block scripts %}
  {% endblock %}
  
</body>
</html>