{% extends "main.html.j2" %}

{% block head %}
  {{ super() }}
  <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/marketing.css") }}'>
  <title>GameDevSoc - Marketing</title>
{% endblock %}

{% block main %}
  <img class='separator' src='{{ url_for("static", filename="images/separators/separator_2.svg") }}' alt='separator'>

  <h1 class='marketing-heading'>Marketing Materials</h1>
  <p class='marketing-description'>
    This is where we compile some of our logos, posters, and other marketing materials! We hope that these are useful for referencing us on your platform, or for creating media with our brand being part of it.<br><br>
    For a comprehensive list of public materials, check out <a href='https://drive.google.com/drive/folders/0B5Qnlzzts7s-Nk9oTWpZNW51WEU?usp=sharing' target='_blank'>this page</a>. And feel free to contact us at <a href='mailto:gamedevsoc@gmail.com'>gamedevsoc@gmail.com</a> with any questions, queries, and comments.
  </p>

  <h2 class='marketing-heading'>Logos</h2>
  <div class='marketing-logos'>
    <img src='{{ url_for("static", filename="images/marketing/gamedevsoc_circle.png") }}' alt='GameDevSoc old logo'>
    <img src='{{ url_for("static", filename="images/gds-circle.png") }}' alt='GameDevSoc new logo'>
    <img src='{{ url_for("static", filename="images/marketing/gds_social-1.png") }}' alt='GameDevSocial logo'>
    <img src='{{ url_for("static", filename="images/marketing/iconChillLarge.png") }}' alt='Chill Jam logo'>
    <img src='{{ url_for("static", filename="images/marketing/jamsandwich.png") }}' alt='Jam Sandwich logo'>
  </div>

  <h2 class='marketing-heading'>Large Prints</h2>
  <div class='marketing-largeprints'>
    <img src='{{ url_for("static", filename="images/marketing/headerlarge.png") }}' alt='GameDevSoc main header'>
    <img src='{{ url_for("static", filename="images/marketing/GameDevSocial-large.png") }}' alt='GameDevSocial large'>
    <img src='{{ url_for("static", filename="images/marketing/chilljam.png") }}' alt='Chill Jam large'>
    <img src='{{ url_for("static", filename="images/marketing/event-jamsandwich.png") }}' alt='Jam Sandwich large'>
  </div>

  <h2 class='marketing-heading'>Sponsorship Tiers</h2>
  <div class='marketing-sponsors'>
    <img src='{{ url_for("static", filename="images/marketing/GameDevSoc-Sponsorship-Tiers.png") }}' alt='GameDevSoc sponsorship tiers'>
  </div>
{% endblock %}