{% extends "main.html.j2" %}

{% block head %}
  {{ super() }}
  <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/resources.css") }}'>
  <title>GameDevSoc - Resources</title>
{% endblock %}

{% block main %}
  <img class='separator' src='{{ url_for("static", filename="images/separators/separator_3.svg") }}' alt='separator'>

  <h1 class='resources-heading'>Resources for starting out</h1>
  <p class='resources-description'>
    Because game development encompasses many different kinds of skills, it can be difficult to get started making what you want. So we compiled some resources for you to use! <br><br>
    We hope that these resources can help you with your project, and if you'd like us to compile more resources, feel free to contact us at <a href='mailto:gamedevsoc@gmail.com'>gamedevsoc@gmail.com</a> with what you want to see!
  </p>
  {% if resources is not none %}
  <table class='resources-table'>
    {% for category in resources %}
    <tr>
      <th colspan='2'>
        <h2>{{ category.category }}</h2>
      </th>
    </tr>
    {% for subcollection in category.subcollections %}
    <tr>
      <td class='right'>
        <p>{{ subcollection.type }}</p>
      </td>
      <td class='left'>
        <p>
          {% for resource in subcollection.resources %}
          <a href='{{ resource.url }}' target='_blank'>{{ resource.name }}</a> - {{ resource.description }}<br>
          {% endfor %}
          <br>
        </p>
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
  {% else %}
  <p class='resources-description resources-error'>
    ... Oops, looks like our web server couldn't get the resources. Try refreshing, and if it doesn't work please contact us and we'll fix it ASAP!
  </p>
  {% endif %}
{% endblock %}