{% extends "main.html.j2" %}

{% block head %}
  {{ super() }}
  <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/videos.css") }}'>
  <title>GameDevSoc - Videos</title>
{% endblock %}

{% block main %}
  <img class='separator' src='{{ url_for("static", filename="images/separators/separator_1.svg") }}' alt='separator'>

  <h1 class='youtube-heading'>GameDevSoc's Youtube Page</h1>
  <div class='youtube-page'>
    <a href='https://www.youtube.com/channel/UCRjLxR1rQeGAgFNmBv4BxZQ' target='_blank'>
      <img class='youtube-gds-logo' src='{{ url_for("static", filename="images/gds-circle.png") }}' alt='GameDevSoc logo'>
    </a>
    <p class='youtube-description'>
      We have a youtube page where we upload our recorded content! We're looking to expand our video library with footages from our game jams, and any presentations people do for us.<br><br>
      
      If you'd like to contribute, you can get in touch with us at <a href='mailto:gamedevsoc@gmail.com'>gamedevsoc@gmail.com</a>!
    </p>
  </div>
  <div class='youtube-video-container'>
    <iframe class='youtube-video' src="https://www.youtube.com/embed/O3Y2f50fZv0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

{% endblock %}